################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Htw/Htw/bin
/Htw/Htw/obj
/Htw/HtwTests/bin
/Htw/HtwTests/obj
/Htw/.vs/Htw/v15/Server/sqlite3
/.vs/wumpus/v15
/.vs/VSWorkspaceState.json
/Htw/.vs/Htw/v15
